{% trans_default_domain 'FOSUserBundle' %}

<h2>Login Page</h2>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="container">
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}


        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Username or email"
               required="required"
               autocomplete="username"/>


        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="Password, e.g. turtles" required="required"
               autocomplete="current-password"/>


        <div class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
        <div>
            <input type="submit" class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit"
                   value="{{ 'security.login.submit'|trans }}"/>
        </div>


    </form>
</div>
