{% trans_default_domain 'FOSUserBundle' %}

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <img src="{{ asset('images/new_logo.png') }}" width="30" height="30" class="mr-2">
    <a class="navbar-brand" href="dashboard">Project Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('dashboard') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Projects
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('add') }}">Add a project</a>
                    <a class="dropdown-item" href="{{ path('removeProject') }}">Remove a project</a>
                    <a class="dropdown-item" href="{{ path('send') }}">Send access codes</a>
                    <a class="dropdown-item" href="{{ path('search') }}">Search project by code</a>
                    <a class="dropdown-item" href="{{ path('change') }}">Update a project</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tasks
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('seeTasks') }}">See the tasks</a>
                    <a class="dropdown-item" href="{{ path('addTask') }}">Add a task to a project</a>
                    <a class="dropdown-item" href="{{ path('updateTask') }}">Update a task</a>
                    <a class="dropdown-item" href="{{ path('removeTask') }}">Remove a task</a>
                </div>
            </li>
        </ul>
        <div class="form-inline mr-5 my-lg-0">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                    <img src="{{ asset('images/UserIcon.png') }}" width="30" height="30">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">See account</a>
                    <a class="dropdown-item" href="{{ path('about') }}">About us</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ logout_path('main') }}">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<h1>Profile <input type="button" class="btn btn-primary" onclick="document.location.href='{{ path('fos_user_profile_edit') }}'" value="Edit profile"></h1>
<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
<style>
    .fos_user_user_show{
        margin: auto;
        padding-top: 5%;
        padding-bottom: 20%;
        padding-right: 40%;
        padding-left: 42%;
    }
    .navbarfos{
        display: none;
    }

    nav img {
        border-radius: 50%;
    }
    nav{
        height: 50px;
        width: 100%;
        display: flex;
        box-sizing: border-box;
    }

    .dropdown-menu
    {
        margin-left: -25%;
    }
</style>