{% trans_default_domain 'FOSUserBundle' %}
<h1>Registration Page</h1>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
<style>
    form{
        text-align: left;
        width: 350px;
        margin: auto;
        padding: 10px;
        padding-bottom: 100px;
    }
</style>
<div>
    <input type="submit" class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}" />
</div>

{{ form_end(form) }}
