.right {
    float:right;
}
.alert-error {
    padding: 1.5%;
    background-color: #f44336; /* Red */
    color: white;
    text-align: center;
    margin-left: 10.5%;
    margin-top: -55%;
    width: 80%;
    height: 10%;
    opacity: 0.5;
    border-radius: 15px;
}
.alert-success {
    padding: 1.5%;
    margin-top: -55%;
    background-color: springgreen; /* Green */
    color: white;
    text-align: center;
    margin-left: 10.5%;
    width: 80%;
    height: 10%;
    opacity: 0.5;
    border-radius: 15px;
}
