{% extends 'base.html.twig' %}

{% block body %}
    <div class="text">
        <h3>Hello!</h3>
        <h3>We are happy because you are considering to use our website.</h3>
        <h3>The scope of this website is to help other programmers to manage their projects.</h3>
        <h3>This is <em>Project Manager</em>, where you can store the location of any project you want, you can generate an access code
            for every project and you can share it with someone.</h3>
        <h3>Use it and make some time for a good coffee! :)</h3>
    </div>
    <object width="800" height="500"
            data="{{ asset('videos/videoCoffee.mp4') }}">
    </object>
    <style>

        .text {
            margin-top: -10%;
            text-align: center;
            padding-left: 100px;
            padding-right: 100px;
            padding-top: 200px;
            padding-bottom: 200px;
            background-color: transparent;
        }
        object{
            margin-top: -8%;
            margin-left: 22%;
        }
    </style>
{% endblock %}