{% extends 'base.html.twig' %}
{% block body %}
    {{ form(form) }}
    <style>
        form{
            margin-left: 30%;
            margin-top: 6%;
            width: 500px;
            padding: 30px;
        }
        button
        {
            width: 440px;
            height: 45px
        }
    </style>
{% endblock %}