{% extends 'base.html.twig' %}
{% block body %}
    {{ form(form) }}
    <style>
        form{
            margin-left: 30%;
            margin-top: 6%;
            padding: 30px;
            width: 500px;
        }
        button
        {
            width: 440px;
            height: 45px
        }

        .alert-error{
             margin-top: 10%;
         }
        .alert-success{
            margin-top: -50%;
        }
    </style>
{% endblock %}