<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../public/messages.css">
    {% endblock %}

    <title>{% block title %}Welcome to Project Manager!{% endblock %}</title>
    <style>
        nav img {
            border-radius: 50%;
        }

        nav {
            height: 50px;
            width: 100%;
            display: flex;
            box-sizing: border-box;
        }

        .alert-error {
            cursor: pointer;
        }

        .dropdown-menu {
            margin-left: -25%;
        }
    </style>

</head>
<body background="{{ asset('images/blue-sky-blur-bright-2789165.jpg') }}">
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <img src="{{ asset('images/new_logo.png') }}" width="30" height="30" class="mr-2">
        <a class="navbar-brand" href="dashboard">Project Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="dashboard">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Projects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('add') }}">Add a project</a>
                        <a class="dropdown-item" href="{{ path('removeProject') }}">Remove a project</a>
                        <a class="dropdown-item" href="{{ path('send') }}">Send access codes</a>
                        <a class="dropdown-item" href="{{ path('search') }}">Search project by code</a>
                        <a class="dropdown-item" href="{{ path('change') }}">Update a project</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tasks
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('seeTasks') }}">See the tasks</a>
                        <a class="dropdown-item" href="{{ path('addTask') }}">Add a task to a project</a>
                        <a class="dropdown-item" href="{{ path('updateTask') }}">Update a task</a>
                        <a class="dropdown-item" href="{{ path('removeTask') }}">Remove a task</a>
                    </div>
                </li>
            </ul>
            <div class="form-inline mr-5 my-lg-0">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        <img src="{{ asset('images/UserIcon.png') }}" width="30" height="30">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">See account</a>
                        <a class="dropdown-item" href="{{ path('about') }}">About us</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ logout_path('main') }}">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
{% endblock %}

{% block javascripts %}
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
{% endblock %}
{% block flashMessages %}
    {% for message in app.flashes('success') %}
        <div class="alert-success ">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert-error ">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

</body>
</html>

