<!DOCTYPE html>
<html>
<head>
    {% use "bootstrap_4_layout.html.twig" %}
    {% block meta %}
        <meta charset="UTF-8">
    {% endblock %}
    {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% endblock %}
    <title>{% block title %}Welcome!{% endblock %}</title>

</head>
<body background="{{ asset('images/blue-sky-blur-bright.jpg') }}">
{% block navbar %}
    <style>

        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }

        .container {
            width: 400px;
            padding: 50px;
        }

        nav img {
            border-radius: 50%;
        }

        form {
            padding-bottom: 100px;
            padding-top: 50px;
        }

        footer {
            color: white;
            width: 100%;
            height: 10%;
            text-align: center;
            margin-bottom: auto;
            margin-left: fill;
            margin-right: fill;
            position:fixed;
            bottom:0px;
        }
    </style>
    <div class="navbarfos">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <img src="{{ asset('images/new_logo.png') }}" alt="Logo" width="30" height="30" class="mr-2">
            <a class="navbar-brand" href="{{ path('first') }}">Project Manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('first') }}">Home <span
                                    class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}
{% block body %}
{% endblock %}
{% block javascripts %}{% endblock %}

{#{% if is_granted('ROLE_USER') %}
    <button onclick="location.href='{{ logout_path('main') }}'" type="button">
        Logout</button>
{% endif %}#}
{% use "bootstrap_4_layout.html.twig" %}
{% block footer %}
<footer class="page-footer font-small special-color-dark pt-4" style="background-color: #212529">

    <!-- Footer Elements -->
    <div class="container-footer">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <p>Made by: Catalina Anghel</p></div>
            <div class="col-md-6 mb-4">
                <p>Contact information: <a href="mailto:support@pm.com">
                        support@pm.com</a>.</p>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>

</footer>
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
{% endblock %}
</body>

</html>
