<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{% block title %}Project Manager{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <style>
        * {
            box-sizing: border-box
        }

        /* Slideshow container */
        .slideshow-container {
            max-width: 100%;
            position: relative;
            margin: auto;
        }

        /* Hide the images by default */
        .mySlides {
            display: none;
        }

        /* Next & previous buttons */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 30px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* The dots/bullets/indicators */
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active, .dot:hover {
            background-color: #717171;
        }

        /* Fading animation */
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 3.5s;
            animation-name: fade;
            animation-duration: 3.5s;
        }

        @-webkit-keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }

        @keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }

        h1 {
            margin: auto;
            text-align: center;
            color: black;
        }

        .info {

            box-sizing: border-box;
            margin: 300px auto;
            color: black;
            text-align: center;
            padding-left: 20%;
            padding-right: 20%;
        }

        nav img {
            border-radius: 50%;
        }

        footer {
            color: white;
            width: 100%;
            height: 150px;
        }

        .info .list {
            padding-right: 10%;
            padding-left: 10%;
            padding-top: 20px;
            padding-bottom: 30px;
        }

    </style>
</head>
<body background="{{ asset('images/blue-sky-blur-bright.jpg') }}">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="{{ asset('images/new_logo.png') }}" alt="Logo" width="30" height="30" class="mr-2">
    <a class="navbar-brand" href="{{ path('first') }}">Project Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('first') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
            </li>
        </ul>
    </div>
</nav>
{% block body %}

    <!-- Slideshow container -->

    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="{{ asset('images/4k-wallpaper-beans-beverage-1749303.jpg') }}" style="width:100%" height="600px">
            <div class="text">Manage your projects and you will have more time to enjoy a good coffee</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="{{ asset('images/black-and-white-blackboard-chalkboard-356043.jpg') }}" style="width:100%"
                 height="600px">
            <div class="text">You can organize your tasks</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="{{ asset('images/agenda-calendar-data-1020323.jpg') }}" style="width:100%" height="600px">
            <div class="text">Organize your projects</div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
                slideIndex = 1
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 2500); // Change image every 2 seconds
        }
    </script>

    <h1>Welcome!</h1>
    <div class="info">
        <h3> Do you find it difficult to manage all your projects?</h3>
        <h3>Is it hard to remember where that specific project is stored online?</h3>
        <h3>Or you forget the tasks you need to do? Try Project Manager!</h3>
        <h3>It is free and you can see the details of your projects like:</h3>
        <div class="list">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">Where the project is stored online</div>
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">How many hours you worked on it</div>
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">The difficulty or the status of the project</div>
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">You can also add tasks to a project and you can manage
                    them
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4" style="background-color: #212529">

    <!-- Footer Elements -->
    <div class="container">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <p>Made by: Catalina Anghel</p></div>
            <div class="col-md-6 mb-4">
                <p>Contact information: <a href="mailto:support@pm.com">
                        support@pm.com</a>.</p>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> Catalina Anghel</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</html>