{% extends 'base.html.twig' %}
{% block body %}
    <h3 class="text">Remove a task:</h3>
{{ form(form) }}
<style>
    form {
        margin: auto;
        width: 500px;
        padding: 30px;
    }
    .text{
        margin: auto;
        text-align: center;
    }
    button
    {
        width: 440px;
        height: 45px
    }
</style>
{% endblock %}