{% extends 'base.html.twig' %}
{% block body %}
    <h3 class="text">Remove a project:</h3>
    {{ form(form) }}
    <style>
        form {
            margin-left: 30%;
            margin-top: 6%;
            width: 500px;
            padding: 30px;
        }
        .text{
            margin: auto;
            text-align: center;
        }
        button
        {
            width: 440px;
            height: 45px
        }

        .alert-error{
           margin-top: -30%;
        }
        .alert-success{
            margin-top: -30%;
        }
    </style>
{% endblock %}