{% extends 'base.html.twig' %}
{% block body %}
    {{ form(form) }}

    <div class="result">
        {% if searchComplete == true %}
            {% if found == true %}
                <table class="table-active">
                <thead>
                <tr>
                    <th scope="col">Project name</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Access code</th>
                    <th scope="col">Status</th>
                    <th scope="col">Location</th>
                    <th scope="col">Worked on</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="bg-light">{{ project.name }}</td>
                    <td class="bg-light">{{ project.difficulty }}</td>
                    <td class="bg-light">{{ project.accessCode }}</td>
                    <td class="bg-light">{{ project.status }}</td>
                    <td class="bg-light">{{ project.link }}</td>
                    <td class="bg-light">{{ project.workedHours }}</td>
                </tr>
            {% else %}
                <h2 class="text">The project was not found.</h2>
            {% endif %}
            </tbody>
            </table>
        {% endif %}

    </div>
    <style>
        table {
            margin-top: -30%;
            margin-left: 15%;
            width: 1000px;
        }

        .text {
            padding-top: 100px;
            padding-bottom: auto;
            margin-top: -30%;
            margin-left: 0%;
            text-align: center;
        }

        form {
            margin-top: 8%;
            margin-bottom: 30%;
            margin-left: 32%;
            width: 500px;
            padding: 30px;
        }
        button
        {
            width: 440px;
            height: 45px
        }
    </style>
{% endblock %}