{% extends 'base.html.twig' %}
{% block body %}
    <table class="table-active">
        {% for project in projects %}
            {% if project.tasks is not empty %}
                <tr class="header">
                    <td class="project-name" colspan="6">{{ project.name }}</td>
                </tr>
                <tr class="columns-for-tasks">
                    <td>Id</td>
                    <td>Description</td>
                    <td>Priority</td>
                    <td>Difficulty</td>
                    <td>Estimated time</td>
                    <td>Status</td>
                </tr>
                {% for task in project.tasks %}
                    <tr>
                        <td class="bg-light">{{ task.id }}</td>
                        <td class="bg-light">{{ task.description }}</td>
                        <td class="bg-light">{{ task.priority }}</td>
                        <td class="bg-light">{{ task.difficulty }}</td>
                        <td class="bg-light">{{ task.estimatedTime }}</td>
                        <td class="bg-light">{{ task.status }}</td>
                    </tr>

                {% endfor %}
            {% endif %}
        {% endfor %}
    </table>

    {% block style %}
        <style>
            table {
                width: 70%;
                margin-top: 7%;
                margin-bottom: 10%;
                margin-left: 15%;
            }

            .project-name {
                text-align: center;
            }

            .columns-for-tasks {
                background-color: #212529;
                color: #e0e0e0;
            }

            .header {
                font-weight: bold;
            }
        </style>
    {% endblock %}
    {#
    {% block style %}
        <style>

            .container {
                width: 70%;
                margin-top: 10%;
                margin-bottom: 10%;
            }

            .table > tbody > tr.active > td,
            .table > tbody > tr.active > th,
            .table > tbody > tr > td.active,
            .table > tbody > tr > th.active,
            .table > tfoot > tr.active > td,
            .table > tfoot > tr.active > th,
            .table > tfoot > tr > td.active,
            .table > tfoot > tr > th.active,
            .table > thead > tr.active > td,
            .table > thead > tr.active > th,
            .table > thead > tr > td.active,
            .table > thead > tr > th.active {
                background-color: #fff;
            }

            .table-bordered > tbody > tr > td,
            .table-bordered > tbody > tr > th,
            .table-bordered > tfoot > tr > td,
            .table-bordered > tfoot > tr > th,
            .table-bordered > thead > tr > td,
            .table-bordered > thead > tr > th {
                border-color: #e4e5e7;
            }

            .table tr.header {
                font-weight: bold;
                background-color: #fff;
                cursor: pointer;
                width: 70%;
                -webkit-user-select: none;
                /* Chrome all / Safari all */
                -moz-user-select: none;
                /* Firefox all */
                -ms-user-select: none;
                /* IE 10+ */
                user-select: none;
                /* Likely future */
            }

            .table tr:not(.header) {
                display: none;
            }

            .table .header td:after {
                content: "\002b";
                position: relative;
                top: 1px;
                display: inline-block;
                font-family: 'Glyphicons Halflings';
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                float: right;
                color: #999;
                text-align: center;
                padding: 3px;
                transition: transform .25s linear;
                -webkit-transition: -webkit-transform .25s linear;
            }

            .table .header.active td:after {
                content: "\2212";
            }
            td{
                background-color: #fff;
            }
        </style>
    {% endblock %}#}
    {#{% block scripts %}
            <script>
                $(document).ready(function () {
                    //Fixing jQuery Click Events for the iPad
                    var ua = navigator.userAgent,
                        event = (ua.match(/iPad/i)) ? "touchstart" : "click";
                    if ($('.table').length > 0) {
                        $('.table .header').on(event, function () {
                            $(this).toggleClass("active", "").nextUntil('.header').css('display', function (i, v) {
                                return this.style.display === 'table-row' ? 'none' : 'table-row';
                            });
                        });
                    }
                })
            </script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                    crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% endblock %}#}
{% endblock %}